.mainCountry {
  height: calc(100vh-90px);
}

.countryContainer {
  width: 1440px;
  margin: auto;
  padding: 40px 0px;
}
.loading {
  min-height: 100vh;
}

.backButton {
  text-decoration: none;
  color: #000;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  box-shadow: 1px 1px 1em rgba(0, 0, 0, 0.2);
}
