@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;1,600;1,800&display=swap');


.header{
    height: 90px;
    box-shadow: 2px 2px 1em rgba(0,0,0,0.2);
    font-family: 'Nunito Sans', sans-serif;

}
.container{
  display: flex;
  width: 1024px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.container p{
  cursor: pointer;
}