@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;1,600;1,800&display=swap');

:root {
  --light-text: hsl(200, 15%, 8%);
  --light-input-color: hsl(0, 0%, 52%);
  --light-background: hsl(0, 0%, 98%);
  --light-elements: hsl(0, 0%, 100%);  
  --text-color: var(--light-text);
  --input-color: var(--light-input-color);
  --background: var(--light-background);
  --elements: var(--light-elements);
}


.app.dark {
  --text-color: hsl(0, 0%, 100%);
  --input-color: hsl(0, 0%, 52%);
  --background: hsl(207, 26%, 17%);
  --elements: hsl(209, 23%, 22%);
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

/* Rest of your CSS styles */
